/*The main stylesheet information to complement the bootstrap one*/

/*
h1{color:blue;
text-align: center;}*/

/*Banner styles*/

#banner{
	background: rgba(50,20,240,0.95);
	background-size: cover;
	padding: 0 0 0 0;
	color: rgba(255,255,255,0.9);
	text-align: center;
}
#banner h1{	font-size: 70px;
	text-align: left;

}


/*Main part styles*/

#main_part{
	background: url("background.jpg");
	background-size: cover;
	background-position: center;
	/*padding: 10px;*/
	/*position: absolute;*/
    margin: -10px 0 0 0;
    padding: 0 0 0 0;
}

#main_part h1{color: rgba(10,20,200,1);
	font-size: 55px;
}

#main_part p{color: rgba(10,20,100,1);
	font-size: 40px;
	background: rgba(255,255,255,0.3);

}

#main_part img {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

/*Picture links styles*/

#picture_links{
	text-align: center;
	border: 0;
    padding: 0px;
    background: rgba(50,20,240,0.95);
    color: white;
}

#picture_links p{
	font-size: 30px;
}

#picture_links img{
    border: 5px solid white;
    border-radius: 20px;
} 

#picture_links a{
	color: white;
	text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

#picture_links img:hover{
	opacity:0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#GC:hover a{
    opacity: 1;
}
#rath:hover a{
    opacity: 1;
}
#wat:hover a{
    opacity: 1;
}
#beach:hover a{
    opacity: 1;
}

/*Bottom banner styles*/

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}


/*Media queries: ensure these stay at the end!!*/
@media (max-width: 500px){
	#banner h1{	font-size: 35px;}
	#main_part h1{font-size: 27px;}
	#main_part p{font-size: 20px;}
	#picture_links p{font-size: 15px;}
	#picture_links img{border: 3px solid white;}
}
	
