/*The main stylesheet information to complement the bootstrap one*/

/*
h1{color:blue;
text-align: center;}*/

#banner{
	background: blue;
	background-size: cover;
	background-position: absolute center;
	padding: 0 0 0 0;
	color: rgba(255,255,245,0.9);
	text-align: center;
	margin: 0 auto;
	
}

/*NOt sure if the main_part bits are working-recheck this!!*/
/*#main_part {
	border: 0;
	background-image: url("/Web/photos/background.jpg");
	/*/Web/*/
}*/

#main_part img{
	margin: 0 auto;
	padding: 0;
/*	margin:10,0,0,0;*/
}

#main_part{
	padding: 0 0 0 10px;
/*	margin:10,0,0,0;*/
}

#picture_links p{
	padding: 0 0 0 10px;
}


/*body{
	background: <img src="photos/background.jpg">;
	background-size: cover;
}*/

/*.container {
    position: relative;
    text-align: center;
    color: white;
}*/

/* Bottom left text */

/* Top left text */

/*#main_part img { 
   position: relative; 
   width: 100%; 
}*/

/*#main_part p { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}*/
/*.top-left{
    position: absolute;
    top: 50px;
    left: 16px;
}*/

#main_part{
	background: url("background.jpg");
	background-size: cover;
}
#main_part h1{color: rgba(10,20,200,1);
	font-size: 55px;
}

#main_part p{color: rgba(10,20,100,1);
	font-size: 40px;
	background: rgba(255,255,255,0.3);

}

#picture_links{
	text-align: center;
	border: 0;
    padding: 0px;
}
#qus p{
	margin: 0 0 0 10px;
	font-size:10px;   /*NB: change these font-sizes to be responsive!!;*/
}

#btmbanner{

}




/*background-position:center;*/